@import "mixins";

.homepage {
   position: relative;
   display: grid;
   grid-template-columns: auto 392px;
   height: 100vh;
   @media (min-width: 0px) {
      grid-template-columns: auto;
   }
   @media (min-width: 768px) {
      grid-template-columns: auto 392px;
   }
   &__main {
      background-color: $background-black;

      @media (min-width: 0px) {
         padding: 32px 8px;
      }
      @media (min-width: 768px) {
         padding: 56px 72px;
      }
   }

   &__loading {
      display: flex;
      height: 100vh;
      width: 100vw;
      justify-content: center;
      background-color: $background-black;
      align-items: center;
      p {
         @include interMedium();
         color: white;
         font-size: 50px;
      }
   }

   &__input {
      margin-bottom: 32px;
   }
   &__multiselect {
      height: 180px;
      margin-bottom: 32px;
   }

   &__title {
      color: white;
      font-size: 40px;
      @include interMedium();
      margin-bottom: 40px;
   }

   &__filter {
      background-color: $background-filter;

      height: 100%;

      @media (min-width: 0px) {
         padding: 32px 8px;
      }
      @media (min-width: 768px) {
         padding: 56px 40px;
      }
      &_title {
         color: white;
         @include interRegular();
         font-size: 24px;
         margin-bottom: 24px;
         display: flex;
         align-items: center;
         gap: 12px;
      }
   }

   &__filterBtn {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      gap: 8px;
      p {
         @include interMedium;
         color: white;
      }
   }

   &__heroes {
      display: flex;
      flex-direction: column;
      gap: 16px;
   }

   &__pagination {
      margin-top: 40px;
      display: flex;
      gap: 25px;
      align-items: center;
      img {
         cursor: pointer;
      }
   }
   &__page {
      @include interMedium();
      color: white;
   }
}
